
$line-height-root: 1.6;
$body-font-family: 'Open sans', Helvetica, Arial, sans-serif;
$heading-font-family: 'Open sans', Helvetica, Arial, sans-serif;

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 1024px,
  'lg': 1280px - 7px,
  'xl': 1920px - 7px
);

$headings: (
  'h1': (
    'size': 1.875rem,
    'weight': 400,
    'line-height': 1,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h2': (
    'size': 1.875rem,
    'weight': 300,
    'line-height': 1,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h3': (
    'size': 1.25rem,
    'weight': 400,
    'line-height': 1.2,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h4': (
    'size': 1.25rem,
    'weight': 300,
    'line-height': 1.2,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h5': (
    'size': 1.25rem,
    'weight': 400,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'h6': (
    'size': 1.25rem,
    'weight': 300,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'subtitle-1': (
    'size': 1rem,
    'weight': 400,
    'line-height': $line-height-root,
    'letter-spacing': normal
  ),
  'subtitle-2': (
    'size': 1rem,
    'weight': 300,
    'line-height': $line-height-root,
    'letter-spacing': normal
  ),
  'body-2': (
    'size': 0.75rem,
    'weight': 300,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'body-1': (
    'size': 0.75rem,
    'weight': 400,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'caption': (
    'size': 0.75rem,
    'weight': 300,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  ),
  'overline': (
    'size': 0.75rem,
    'weight': 400,
    'line-height': $line-height-root,
    'letter-spacing': normal,
    'font-family': $heading-font-family
  )
);
